.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    cursor: pointer;
    height: 30px;
    border-radius: 0.2rem;
    border: none;
    margin-bottom: 10px;
    transition: transform 0.5s ;

  }
  button:hover {
    transition: transform 0.5s ;
    transform: scale(1.02);
  }
  img {
    border-radius: 0.5rem;

  }
  .hiden{
    display: none;
  }
}

