.loader{

  display: flex;
  margin-top: 15%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 100px;
  color: black;
  font-size: 3ch;
  font-weight: 800;
}