.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  textarea{
    margin-top: 5%;
    width: 50%;
    height: 80%;
    border-radius: 0.5rem;
    border: none;
    text-align: left;
    padding: 5%;
    resize: none; 
    z-index: 100;
  border: solid 2px black;

  }
  .messageSuccesfuly{
    color: white;
    font-weight: 700;
    position: fixed;
    left: 50px;
    top: 100px;
    width: 300px;
    background-color: green;
    padding: 2%;
    border-radius: 0.5rem;
  }
  .buttonSend {
    border: none;
    border-radius: 0.3rem;
    margin-block: 2% ;
    height: 50px;
    width: 300px;
    font-size: 2ch;
    background-color: #2e78e7;
    color: white;
    cursor: pointer;
    transition: transform 0.1s;
  }
  .buttonSend:hover{
    transition: transform 0.1s;
    transform: scale(1.01);
  }

  p{
    color:black;
  }
}

