.container{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 500px;
  .container ul {
    display: flex;
    list-style: none;
  }
  .container ul li{
    list-style: none;
  }
}