.container {
  margin-top: 5%;
  .conatinerImage{
    display: flex;
    justify-content: center;
    height: 300px;
    max-width: 85%;
    margin: 0 auto;
    // overflow: hidden;
    img {
      width: 80%;
    }
  }
}