.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .iconAddSection{
    border: none;
    cursor: pointer;
    width: 100px;
    background-color: rgba(240, 248, 255, 0);
    display: flex;
    margin-block: 5%;
    justify-content: center;
  }
}

@media (min-width:0px) and (max-width:1681px){

}