.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgb(36, 36, 36);
  font-weight: 500;
  margin: 0 auto;
  margin-block: 5%;
  padding-block: 2%;
  width: 60%;
  background-color: #F2F2F2;
  border-radius: 0.2rem;
  .image{
    max-width: 700px;
    min-width: 300px;
    height: auto;
  }
  h4{
    font-size: 3ch;
  }
  .buttonContact{
    position: fixed;
    background-color: #2e78e7;
    color: whitesmoke;
    border-color: white;
    top: 20%;
    right: 5%;
    padding: 10px;
    border-radius: 0.2rem;
    
    cursor:pointer;
  }
  .conatinerText{
    position: relative;
    display: flex;
    padding: 5%;

  }
  .iconEdit{
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
  }

}