.container {
  z-index: 10;
  position: relative;
  width: 70%;
  margin-top: 50px;
  height: 400px;
  overflow: hidden;
  .iconEdit{
    position: absolute;
    z-index: 100;
    width: 100px;
    top: 100px;
    left: 100px;
    filter: invert(0);
    cursor: pointer;
  }
}
.containerCreate{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.container:hover {
  .iconEdit{
    transform: scale(1.1);
  }
}
