.container {
  margin-block: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 900;
  img {
    width: 80%;
  }
}

.errorMessage {
  height: 1rem;
  p {
    margin: 0;
    color: red;
  }
}
