.container {
  height: 50px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #900C3F;
  background: linear-gradient(to bottom, #900C3F, rgb(190, 89, 129),#bb718e);
  position: fixed;
  top: 0;
  // text-align: center;
  z-index: 11500;

  .menu {
    width: 43%;
    h4{
      transition:  1s;
      white-space: nowrap; 
      font-weight: 500;

    }
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 2.2ch;
    text-align: center;
    gap: 50px;
   
  .containerList{
    position: relative;
    h4{
      cursor: pointer;
    }
  }
  }
  img {
    width: 70px;
    margin-left: 10%;
  }
  h4:hover {
    transition: 0.2s;
    color: rgb(253, 234, 211);
    transform: scale(101%);
    // font-weight: 600;
  }
  

  .listShow {
    position: absolute;
    width: 230px;
    left: -30px;
    top: 45px;
    list-style: none;
    background-color:  #900C3F;
    border-radius: 0.2rem;
    padding: 5px;
    li {
      cursor: pointer;
      text-align: left;
      margin-block: 15%;
      margin-inline: 5%;
    }
  }
  .listHiden {
    display: none;

  } 
}


@media (min-width:0px) and (max-width:1681px){
 .container{
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  .menu{
    font-size:medium;
  }
 }
}