.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #900C3F;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 500;
 .containerLinks{
  width: 43%;
  h4{
    width: 160px;
  }
  .menu {
      display: flex;
    width: 400px;
    font-size: 2.2ch;
    margin-right: 22%;
    gap: 50px;
   
  }
  .containerList{
    position: relative;
    h4{
      cursor: pointer;
    }
  }
  }
  img {
    width: 70px;
    margin-left: 10%;
  }
 
  

  .listShow {
    position: absolute;
    width: 230px;
    left: -30px;
    top: 45px;
    list-style: none;
    background-color:  #900C3F;
    border-radius: 0.2rem;
    padding: 5px;
    li {
      cursor: pointer;
      text-align: left;
      margin-block: 15%;
      margin-inline: 5%;
    }
  }
  .listHiden {
    display: none;

  } 
}

@media (min-width:0px) and (max-width:1681px){
 .container{
  .containerLinks{
    width: 60%;
  }
  .menu{
    width: 200px;
    font-size: 2ch;
    margin-right: 0px;
    font-size:medium;
  }
 }
}