.container {
  background-color: #F2F2F2;
  border-radius: 0.2rem;
  padding: 8%;
  margin-bottom: 5%;
  color: #686868;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  h4 {
    font-size: 3.5ch;
    text-align: center;
    margin-block: 3%;
  }
  p{
    font-size: 1.8ch;
    margin-block: 3%;
  }

  .containerProperty {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h4 {
      min-width: 300px;
    }
    .iconEdit{
      width: 20px;
      position: absolute;
      top: 0;
      right: -30px;
      cursor: pointer;

    }
  }
  .delete{
    position: absolute;
    width: 30px;
    right: 30px;
    top: 30px;
    cursor:pointer;
    border: none;
  }
}

@media (min-width:0px) and (max-width:1681px){
  .container{
    h4{
      font-size: medium;

    }
    p{
      font-size: small;
    }
  }
}