.containerCard {
  position: relative;
  width: 100%;
  text-align: center;
  h4 {
    width: 100%;
    position: absolute;
    top: 5%;
    font-size: x-large;

  }
  .coverImage {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgba(153, 98, 122, 0.9), rgba(226, 50, 50,0));
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius:0.5rem;
    transition: 0.5s;
  }
  .coverImage:hover  {
    background-color: rgba(255, 255, 255,0.3);
    transition: 0.5s;
  }

  img{
  width: 100%;
  border-radius:0.5rem;
  }
}