.containerCard {
  position: relative;
  width: 100%;
  text-align: center;
  h4 {
    width: 100%;
    position: absolute;
    top: 5%;
    font-size: x-large;

  }
  .coverImage {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgba(19, 19, 19, 1), rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5));
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 0.5s;
  }
  .coverImage:hover  {
    background-color: rgba(247, 247, 247, 0.5);
    transform: scale(1.02);
    transition: 0.5s;
  }

  img{
  width: 100%;
  }
}