.containerCard{
  position: relative;
  padding-block: 10%;
  text-align: left;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  flex-direction: column;
  transition: 0.2s;
  color: #686868;
  .date{
    display: none;
  }
  .coverImage{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(207, 130, 231, 0);
    height: 100%;
    width: 100%;
    z-index: 100;
  }
  .iconEdit{
    display: none;
  }
  .containerSummary{
    padding: 5%;
    .iconEdit{
      display: none;
    }
  }
}
.containerCard:hover {
  transition: .5s;
  background-color: #f5d5e1;

}