.containerCard {
  position: relative;
  width: 100%;
  text-align: center;
  transition: 0.5s;
  z-index: 10;
  
  h4 {
    width: 100%;
    position: absolute;
    top: 5%;
    font-size: x-large;
    transition: 0.8s;

  }
  .coverImage {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgb(34, 34, 34),rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3));
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.9;
    border-radius: 0.5rem;
    transition: 1s;
  }

  .containerSummary{
    opacity: 0;
    position: absolute;
    transform: translate(0,-100%);
    border-radius: 0.1rem;
    transition: 0.5s ;
  }
  
  img{
  width: 100%;
  border-radius: 0.5rem;

  }
}

.containerCard:hover {
  transform: scale(110%);
  transition: 0.5s;
  .containerSummary{
    display: block;
    color: black;
    background-color: white;
    position: absolute;
    padding: 5%;
    text-align: left;
    opacity: 1;
    transform: translate(0,-80%);
    z-index: 500;
    transition: 0.5s ;

  }
  .coverImage {
    background-image: linear-gradient(to bottom, rgb(241, 241, 241), rgba(243, 240, 240, 0.5),rgba(0, 0, 0, 0.5));
    opacity: 1;
    transition: 1s;
  }
  h4 {
    color: rgb(46, 46, 46);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 0.8s;

  }
}
