.iconSave{
  position: fixed;
  width: 5%;
  z-index: 10000;
  top: 10%;
  left: 5%;
  cursor: pointer;
  transition: transform 0.5s;

}
.iconSave:hover {
  transition: transform 0.5s;
  transform: scale(1.1);
}