.container{
  // background-color: #454545;
  background-color: #f5d5e1;

  // color: #f1f1f1;
  color: #686868;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
  padding: 5%;
  gap: 30px;
  border-radius: 0.5rem;
  position: sticky;
  top: 100px;
}