.container {
    margin-block: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 900;
    img {
      width: 80%;
    }
  }

.imgContainer {
  object-fit: fill;
  width: 200px;
  height: 200px;
}

.errorMessage {
  margin: 1rem;
  p {
    margin: 0;
    color: red;
  }
}
